<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ asset('bundles/qwpresentation/img/taxi-conventionne.jpg') }}" alt="">
        </div>

        <div class="col-lg-6">
            <h2>Un taxi pour tous déplacements en Île-de-France</h2>
            <p><a href="{{ path('qw_presentation_homepage') }}">Taxidir</a> se situe à <strong>Chelles</strong>, près de <strong>Torcy</strong> et de <strong>Ozoir-la-Ferrière</strong> dans le département de la <strong>Seine-et-Marne</strong>. </p>
            <p>Un trajet professionnel ou privé ? Je suis disponible 7 jours sur 7, et je réalise vos déplacements vers les <strong>gares</strong>, les <strong>aéroports</strong>, et les <strong>hôtels</strong> partout en Île-de-France, en incluant Beauvais.</p>
            <p>Lors de vos venues en région parisienne, vous pouvez faire appel à Taxidir pour des visites touristiques dans Paris. Sur une journée ou une demi-journée, votre chauffeur commente la visite en français ou en anglais.</p>
            <p>M'adaptant à vos besoins, je vous propose l'organisation de <strong>trajets sur-mesure</strong>. Et pour votre confort et votre bien-être, mon taxi est équipé de WI-FI et chargeurs de smartphone de différentes marques. Mon véhicule dispose de vitres teintées et est <strong>climatisé</strong>. De plus, je mets à votre disposition plusieurs magazines actualisés chaque semaine. Avec Taxidir, vous avez la possibilité de régler par paiement sans contact.</p>
        </div>
    </div><! --/row -->
</div><! --/container -->