<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Taxidir</h4>
                <div class="hline-w"></div>
                <p>Depuis 2011, la société de <a href="{{ path('qw_presentation_homepage') }}">taxi Taxidir</a>, implantée à <strong>Chelles</strong>, à proximité de <strong>Torcy</strong> et de <strong>Ozoir-la-Ferrière</strong> dans le département de la <strong>Seine-et-Marne</strong>, met à votre service ponctualité et rigueur dans vos différents trajets, qu'ils soient personnels ou professionnels.</p>
            </div>
            <div class="col-lg-4">
                <h4>Partagez ce site</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="http://www.facebook.com/sharer.php?u=http://www.taxi-idir.fr&t=Taxi conventionné CPAM île de France"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fabout.twitter.com%2Ffr%2Fresources%2Fbuttons&ref_src=twsrc%5Etfw&text=Taxi%20conventionn%C3%A9%20CPAM%20%C3%AEle%20de%20France&tw_p=tweetbutton&url=http%3A%2F%2Fwww.taxi-idir.fr"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com/share?url=http://www.taxi-idir.fr&hl=fr"><i class="fa fa-google-plus"></i></a>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Contact</h4>
                <div class="hline-w"></div>
                <p>
                    93130 Noisy le Sec<br />
                    Tél. : 07 69 31 87 78<br />
                    Mail : taxidir@gmail.com
                </p>
            </div>

        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->