<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Taxi conventionné CPAM à Chelles (77)</h1>
                <h2><img src = "{{ asset('bundles/qwpresentation/img/tel-taxidir.png') }}" alt="" title=""/><a href="tel:+33769318778"> 07 69 31 87 78</a></h2>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg" style="padding-bottom: 1%;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->

                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active"> <img src="{{ asset('bundles/qwpresentation/img/slider/taxi-nuit-jour.jpg') }}" style="width:100%" alt="First slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h2>Taxi de jour et de nuit</h2>
                                </div>
                            </div>
                        </div>
                        <div class="item"> <img src="{{ asset('bundles/qwpresentation/img/slider/taxi-aeroport-seine-et-marne.jpg') }}" style="width:100%" data-src="" alt="Second    slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h2>Trajets depuis les gares et aéroports</h2>
                                </div>
                            </div>
                        </div>
                        <div class="item"> <img src="{{ asset('bundles/qwpresentation/img/slider/taxi-visite-paris.jpg') }}" style="width:100%" data-src="" alt="Third slide">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h2>Visitez Paris en taxi</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->




