<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-taxi"></i>
                <h3>Taxi conventionné Noisy-le-Sec</h3>
                <p><strong>Taxi conventionné CPAM</strong>, je me charge des transports de malades et vous accompagne vers vos lieux de rendez-vous dans les hôpitaux et centres spécialisés</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h3>Taxi de qualité</h3>
                <p>Je travaille avec un groupement de chauffeurs avec qui nous nous organisons pour chaque transport afin de répondre au mieux à vos besoins.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h3>+ Les petits plus</h3>
                <p>Taxi équipé de WI-FI et chargeurs smartphone <img src = "{{ asset('bundles/qwpresentation/img/taxi-wifi-connecte-chargeur.png') }}" alt="" title=""/><br />
                    Visites touristiques dans Paris en français et en anglais<br />
                    Disponible 7 jours sur 7 <img src = "{{ asset('bundles/qwpresentation/img/taxi-7-jour-sur-7.jpg') }}" alt="" title=""/>
                </p>
            </div>


        </div>
    </div><! --/container -->
</div><! --/service -->