<div class="container mtb">
    <div class="row centered">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class=" tpl6">
                <img src="{{ asset('bundles/qwpresentation/img/taxi-gare-aeroport.jpg') }}" alt="" title="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <p>Trajets depuis les gares et aéroports</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->

        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class=" tpl6">
                <img src="{{ asset('bundles/qwpresentation/img/visiter-paris-en-taxi.jpg') }}" alt="" title="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <p>Visitez Paris en taxi</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->

        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class=" tpl6">
                <img src="{{ asset('bundles/qwpresentation/img/taxi-hotel-paris.jpg') }}" alt="" title="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <p>Trajets vers votre hôtel lors de vos déplacements</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->

        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class=" tpl6">
                <img src="{{ asset('bundles/qwpresentation/img/taxi-nuit-jour.jpg') }}" alt="" title="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
            <p>Déplacements privés et professionnels en Ile de France</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->

    </div><! --/row -->
</div><! --/container -->