<div class="container mt">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 centered google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d674384.7486153621!2d1.9408111700524344!3d48.68033373903057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e1c403a68c17%3A0x10b82c3688b2570!2s%C3%8Ele-de-France%2C+France!5e0!3m2!1sfr!2sus!4v1504907414142" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>
            <h2>Zone d'intervention</h2>
            <p>Taxidir, taxi conventionné, intervient dans toute l'Île-de-France, notamment en Seine-et-Marne, en Seine-Saint-Denis, dans l'Essonne, pour le transport de malades et les trajets privés ou professionnels. Votre taxi se déplace principalement aux alentours de Noisy-le-Sec et Chelles : Torcy, Ozoir-la-Ferrière, Livry-Gargan, Gagny, Noisy-le-Grand, Villepinte, Vaires-sur-Marne...</p>
        </div>

        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h2>Mes coordonnées</h2>
            <div class="hline"></div>
            <p><b>Nom :</b> Taxidir</p>
            <p><b>Tél :</b> 07 69 31 87 78</p>
            <p><b>Mail :</b> taxidir@gmail.com</p>

        </div>
    </div>
</div>
<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
    height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>